.createpeepcontainer {
  padding: 16px; 
  display: block;
 

}



.peepformborder {
 
  text-align: center;
  /* box-sizing: border-box;
  border: 1px solid black; */
}


input[type=text], 
input[type=password], select, .datebox { 
    width: 40%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
} 

.createpeeph3 {
  text-align: center;
}

